<script type="text/javascript">

var d;
function get_data() {
	$.get('/rrd_data', function(data){
		d = parseFloat(data);
	});
	return d;
}

Highcharts.setOptions({
	global: {
		useUTC: false
	}
});

var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'spline',
         marginRight: 10,
         events: {
            load: function() {
   
               // set up the updating of the chart every 10 seconds
               var series = this.series[0];
               setInterval(function() {
                  var x = (new Date()).getTime(), // current time
                      y = get_data();
                     //y = Math.random();
                  series.addPoint([x, y], true, true);
               }, 10000);
            }
         }
      },
      title: {
         text: 'Live Load data'
      },
      xAxis: {
         type: 'datetime',
         tickPixelInterval: 150
      },
      yAxis: {
         title: {
            text: 'Value'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]
      },
      tooltip: {
         formatter: function() {
                   return '<b>'+ this.series.name +'</b><br/>'+
               Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+ 
               Highcharts.numberFormat(this.y, 2);
         }
      },
      legend: {
         enabled: false
      },
      exporting: {
         enabled: false
      },
      series: [{
         name: 'Random data',
         data: (function() {
            // generate an array of random data
            var data = [],
               time = (new Date()).getTime(),
               i;
            for (i = -9; i <= 0; i++) {
               data.push({
                  x: time + i * 1000,
                  y: 0
               });
            }
            return data;
         })()
      }]
   });
   
   
});

</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @chart.name %>
</p>

<div id="container" style="width: 100%; height: 400px"></div>

<%= link_to 'Edit', edit_chart_path(@chart) %> |
<%= link_to 'Back', charts_path %>
