<!DOCTYPE html>
<html>
<head>
  <title>Charts</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/highcharts.js" type="text/javascript"></script>
</head>
<body>

<%= yield %>

</body>
</html>
